<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app=''>
 
<head>
	<title>Extended product</title>

	<link rel="stylesheet" href="_assets/css/main.css" />

    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.3.1/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
    <script type="text/javascript" src="//cdn.worldsecuresystems.com/bcapi/bcapi-0.1.0.min.js"></script>

</head>
 
<body ng-controller="ProductsCtr">
	<p class="message">Hi!</p>
	<p>Please find list of products below.</p>
	
	<p class="message-success" ng-show="showTrigger">Success! Data have been saved!</p>
	
	<p>Search by name: <input ng-model="query"></p>
	<ul id="js-catalogues" class="root">
		<li class="header">
			<span class="name">Product Name</span>
			<span class="chk-container">Custom 4</span>
	      	<span class="chk-container">Custom 5</span>
	      	<span class="chk-container">Custom 6</span>

		</li>
	    <li ng-repeat="item in items | filter:query">
			<span class="js-path">{{item.name}}</span> 
			<input type="text" ng-model="item.custom4"></input>
			<input type="text" ng-model="item.custom5"></input>
			<input type="text" ng-model="item.custom6"></input>
	    </li>
	</ul> 

	<a href="#" id="js-save-changes" ng-click="saveChanges()">Save changes</a>

    
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.18/angular.min.js"></script>
	<script src="_assets/js/app.js"></script>

</body>
</html>
