		.root {color: #595959; font-size: 12px; line-height: 16px; font-family: 'Lucida Grande', Helvetica, Arial, Verdana, sans-serif;
			padding: 0; width: 90%;}
    	.root, 
    	input {font-size: 12px; line-height: 16px; font-family: 'Lucida Grande', Helvetica, Arial, Verdana, sans-serif;}
    	.root li {display: inline-table; width: 100%; height: 14px; padding: 4px 8px;}
		.root span,
		.root input {float: left; display: block; width: 23%; height: 100%; margin: 0 5px;}
		.root input[type="checkbox"]{width: 20px; height: 20px;}
		.root a {color: #1E86E3;}
		.header {color: #333; background: #dbdbdb; font-weight: bold; }
		li:nth-child(even){ background: #f2f2f2; }
		.message-success {background: #d8fb9c; padding: 20px;}